{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Login | Gadget Soko Kenya</title>

<link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>

<div class="login-container">

     <div class="logo">
      <a href="{% url 'login' %}">
        <img src="{% static 'images/logo.png' %}">
      </a>
    </div>

    <p class="subtitle">Login to your account</p>

    <form method="POST">

        {% csrf_token %}

        <!-- Select Role -->
        <label>Select Login Type</label>

        <select name="role" id="roleSelect">
            <option value="client">Client</option>
            <option value="admin">Admin</option>
        </select>


        <!-- Username -->
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>


        <!-- Password -->
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>


        <!-- Login button -->
        <button type="submit">Login</button>

    </form>

    <p class="register-link">
        Don't have an account?
        <a href="{% url 'signup' %}">register</a>
    </p>

</div>

<script src="{% static 'js/login.js' %}"></script>

</body>
</html>
